/**
 * This file is part of the Kanboard GlobalSearch Plugin project.
 *
 *
 * @package     Kanboard GlobalSearch Plugin
 * @author      Valentino Pesce
 * @copyright   2024 (c) Valentino Pesce
 *
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.search-results-container .navbar .fa-search {
    font-size: 16px;
    margin-right: 15px;
}

.search-results-container .navbar .fa-search:hover {
    color: #00a3d4;
}

.search-results-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.search-results-container .search-header {
    padding: 5px;
    margin-bottom: 15px;
}

.search-results-container .search-header-fieldset {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
}

.search-results-container .search-bar {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-results-container .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
}

.search-results-container .search-bar button {
    padding: 7px 10px;
    border-radius: 10px;
    margin-right: 3px;
}

.search-results-container .search-bar button i {
    color: #36c;
}

.search-results-container .search-filters {
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-flex;
}

.search-results-container .search-results-list {
    list-style: none;
    padding-left: 0;
}

.search-results-container .search-mb-5 {
    margin-bottom: 5px;
}

.search-results-container .search-mb-10 {
    margin-bottom: 10px;
}

.search-results-container .search-p-5 {
    padding: 5px;
}

.search-results-container .p-25 {
    padding: 25px;
}