.search-results-container strong {
    color: #8d9498;
}

.navbar .fa-search {
    font-size: 16px;
    margin-right: 15px;
    color: #fff;
}

.navbar .fa-search:hover {
    color: #00a3d4;
}

.search-results-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.search-results-container i {
    color: #8d9498;
}

.search-header {
    padding: 5px;
    margin-bottom: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px 20px 20px 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 7px 10px;
    border-radius: 24px;
    margin-left: 5px;
    margin-right: 3px;
}

.search-bar button i {
    color: #00a3d4;
}

.search-filters {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

.search-results-list {
    list-style: none;
    padding-left: 0;
}

.search-result-item {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    background: #f9f9f9;
    border-bottom: 2px solid #ddd;
}

.search-result-item a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 3px;
}

.search-result-item p {
    font-size: 14px;
    color: #4d4d4d;
    margin-bottom: 3px;
}

.search-result-item small {
    font-size: 12px;
    color: #888;
}

.search-mb-5 {
    margin-bottom: 5px;
}

.search-mb-10 {
    margin-bottom: 10px;
}

.search-p-5 {
    padding: 5px;
}